{
  "openapi": "3.1.0",
  "info": {
    "title": "Saxton Shop Inventory",
    "version": "1.0.0",
    "description": "Read-only search over published Premium Shop 508 inventory. Returns customer-facing catalog facts only."
  },
  "servers": [
    {
      "url": "https://saxtonshowcase.com"
    }
  ],
  "paths": {
    "/api/shop-inventory": {
      "get": {
        "operationId": "searchShopInventory",
        "summary": "Search published local-shop inventory or retrieve one item",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Words from product name, brand, model, color, category, department, condition, tags, or published specs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item_id",
            "in": "query",
            "description": "Stable item slug for an exact record.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "available"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inventory results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Unknown item"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
